[submodule "rustrc"]
	path = rustrc
	url = https://github.com/Pomsky2011/RustRC.git
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://github.com/Pomsky2011/musl-oxidebsd.git
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://github.com/Pomsky2011/busybox-oxidebsd.git
