[submodule "rustrc"]
	path = rustrc
	url = https://github.com/Pomsky2011/RustRC.git
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://github.com/Pomsky2011/musl-oxidebsd.git
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://github.com/Pomsky2011/busybox-oxidebsd.git
[submodule "third_party/tinycc"]
	path = third_party/tinycc
	url = https://github.com/Pomsky2011/tinycc-oxidebsd.git
	branch = oxidebsd
[submodule "third_party/posixtestsuite"]
	path = third_party/posixtestsuite
	url = https://github.com/emscripten-core/posixtestsuite
